/*
Theme Name:Theme Imaasa
Theme URI: https://sukiyaki.imaasa.com/
Description: Them for Imaasa HP.
 */


@charset "utf-8";

@import "partials/base";
@import "partials/footer";
@import "partials/header";

.news {
	background: $default-bgcolor;
}

.column {
	background-image: url(//resources.imaasa.com/img/rabbit.jpg);
	background-size: 50%;
	& p {
		text-indent: 1em;
	}
}

.wp_social_bookmarking_light {
	display: inline-block;
	float: right;
}

#menu {
	h2 {
		overflow-x: hidden;
	}

	ul {
		padding: 1em 2em;
	}
}

/*share buttons*/

.share-buttons div a{
	vertical-align: middle;
}
.share-buttons .share-button{
	float:left;
	margin: 30px 0;
	width:33%;
}
.share-buttons div a {
	display: inline-block;
	font-size: 1.5em;
	margin: 0;
	width: 100%;
	text-align: center;
	text-decoration: none;
	padding: 7px 0;
	line-height: 1.5;
	height: 50px;
	color: #ffffff;
}
.share-buttons div a:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
}
.share-buttons .tweet {
	background:#4dccf5;
}
.share-buttons .fb-like {
	background: #455a9d;
}
.share-buttons .gplus {
	background:#dc4935;
}
.share-buttons .hatenabookmark {
	background:#2c6dbd ;
}
.hatenabookmark-squared-ffffff:before {
	content: 'B!';
	color:#fff;
}
.gplus-squared-ffffff:before {
	content: 'G+';
	color:#fff;
}
.hatenabookmark-squared-ffffff:before, .gplus-squared-ffffff:before {
	font-weight:bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	padding:0 2px;
	vertical-align:1px;
}
