@charset "UTF-8";
/*
Theme Name:Theme Imaasa
Theme URI: https://sukiyaki.imaasa.com/
Description: Them for Imaasa HP.
*/
/* Border Colors */
/* Background Colors */
/* Theme Colors */
.button-default, .pagenation .item {
  box-shadow: 2px 2px 3px #000;
  border: #462300 solid 2px;
  line-height: 2em;
  text-align: center;
  height: auto;
  width: auto;
  background: #fff; }

.button-active, .pagenation .active {
  box-shadow: 2px 2px 3px #000;
  border: #462300 solid 2px;
  line-height: 2em;
  text-align: center;
  height: auto;
  width: auto;
  background: #462300;
  color: #fff; }

.pagenation .item {
  height: 2em;
  margin: auto 5px;
  width: 2em; }

.pagenation .active > a {
  color: #fff; }

body {
  font-family: "MS mincho", serif;
  background-image: url(//resources.imaasa.com/img/back.jpg);
  position: relative; }

p {
  line-height: 1.5em; }

header, footer {
  color: #fff; }
  header a, header a:hover, footer a, footer a:hover {
    color: #fff; }
  header .logos, footer .logos {
    font-family: "Times New Roman";
    margin: 0 auto;
    padding: 10px;
    width: 300px; }
    header .logos .en, footer .logos .en {
      background-color: #fff; }
    header .logos .en, header .logos .logo, header .logos .logo-type, footer .logos .en, footer .logos .logo, footer .logos .logo-type {
      display: block;
      margin: 0 auto;
      text-align: center; }
    header .logos .logo, footer .logos .logo {
      border-radius: 50%; }

/* エリア分け用クラス */
.default {
  color: #fff;
  background-color: #462300; }

.flash {
  line-height: 1.5em;
  margin: 5px;
  padding: 10px 20px; }

.map {
  text-align: right; }
  .map .larger {
    color: #000;
    display: inline-block;
    font-size: 20px;
    margin-top: 5px;
    vertical-align: middle; }
  .map .arrow {
    margin-right: 10px; }

.bold-underline {
  font-weight: bold;
  text-decoration: underline; }

.table {
  display: table; }

.th, .td {
  display: table-cell; }

.tr {
  display: table-row; }

.table-themed {
  width: 100%;
  max-width: 100%; }
  .table-themed td {
    border-top: 1px dashed #462300;
    color: #462300;
    line-height: 1.5em;
    padding: 5px;
    vertical-align: top; }

label {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5px; }

.required {
  color: red;
  font-size: 12px;
  margin-left: 5px; }

.new {
  font-weight: bold;
  color: #d9534f; }

.margin-center {
  margin: 0 auto; }

#toggle {
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  margin: 10px;
  top: 0;
  left: 0;
  border: 2px solid #ccc;
  z-index: 5; }

#menu-collapse {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  margin: auto;
  padding: 10px;
  color: #999;
  box-shadow: 3px 3px 3px 0px #333;
  border-radius: 4px;
  background: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  font-size: 1.5em;
  line-height: 2em;
  z-index: 5; }

#menu-collapse:after {
  position: absolute;
  top: -10px;
  left: 0px;
  content: "";
  display: block;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 20px solid #fff; }

#toggle.on + #menu-collapse {
  opacity: 1;
  visibility: visible; }

.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5; }

@media print {
  .noprint {
    display: none;
    border: none; }
  .print-little {
    width: 50%; } }

footer {
  margin-top: 20px;
  padding: 20px 0;
  background-color: #4d3339;
  border-top: 2px solid #daa520; }

.footer-links .link {
  text-align: center;
  line-height: 2em; }

header {
  color: #01385b;
  box-shadow: 3px 3px 3px 0px #333;
  font-family: "Times New Roman"; }
  header .bogo-language-switcher {
    font-family: "Lucia Sans Unicode";
    font-weight: bold;
    font-style: italic;
    position: absolute;
    right: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    top: 10px; }
    header .bogo-language-switcher, header .bogo-language-switcher a {
      color: #01385b; }

.news {
  background: #ebe1da; }

.column {
  background-image: url(//resources.imaasa.com/img/rabbit.jpg);
  background-size: 50%; }
  .column p {
    text-indent: 1em; }

.wp_social_bookmarking_light {
  display: inline-block;
  float: right; }

#menu h2 {
  overflow-x: hidden; }

#menu ul {
  padding: 1em 2em; }

/*# sourceMappingURL=style.css.map*/
