@charset "utf-8";

@import 'modules/all';

body {
  @include default-font();
  background-image: url(//resources.imaasa.com/img/back.jpg);
  position: relative;
}

p {
  line-height: 1.5em;
}

// Pending extraction into partial
header, footer {
  color: #fff;
  a, a:hover {
    color: #fff;
  }

  .logos {
    font-family: "Times New Roman";
    margin: 0 auto;
    padding: 10px;
    width: 300px;
    .en {
      background-color: #fff;
    }
    .en, .logo, .logo-type {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    .logo {
      border-radius :50%;
    }
  }
}

/* エリア分け用クラス */
.default {
  color: #fff;
  background-color: $default-color;
}

.flash {
  line-height: 1.5em;
  margin: 5px;
  padding: 10px 20px;
}

.map {
  text-align: right;
  .larger {
    color: #000;
    display: inline-block;
    font-size: 20px;
    margin-top: 5px;
    vertical-align: middle;
  }
  .arrow {
    margin-right: 10px;
  }
}

.bold-underline {
  font-weight: bold;
  text-decoration: underline;
}

// テーブル表示系コンポーネント
.table {
  display: table;
}

.th, .td {
  display: table-cell;
}

.tr {
  display: table-row;
}

// テーブル系コンポーネント
.table-themed {
  width: 100%;
  max-width: 100%;
  td {
    border-top: 1px dashed $default-color;
    color: #462300;
    line-height: 1.5em;
    padding: 5px;
    vertical-align: top;
  }
}

label {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5px;
}

.required {
  color: red;
  font-size: 12px;
  margin-left: 5px;
}

.new {
  font-weight: bold;
  color: #d9534f;
}

.margin-center {
  margin: 0 auto;
}

#toggle {
  background-color: rgba(255, 255, 255, .75);
  position: fixed;
  margin: 10px;
  top: 0;
  left: 0;
  border: 2px solid #ccc;
  z-index: 5;
}

#menu-collapse {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  margin: auto;
  padding: 10px;
  color: #999;
  box-shadow: 3px 3px 3px 0px #333;
  border-radius: 4px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
  font-size: 1.5em;
  line-height: 2em;
  z-index: 5;
}

#menu-collapse:after {
  position: absolute;
  top: -10px;
  left: 0px;
  content: "";
  display: block;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 20px solid #fff;
}

#toggle.on + #menu-collapse {
  opacity: 1;
  visibility: visible;
}

.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

@media print {
  .noprint {
    display: none;
    border: none;
  }
  .print-little {
    width: 50%;
  }
}
