footer {
  margin-top: 20px;
  padding: 20px 0;
  background-color: $imaasa-violet;
  border-top: 2px solid $imaasa-orange;
}

.footer-links {
  .link {
    text-align: center;
    line-height: 2em;
  }
}
