header {
  color: $imaasa-blue;
  box-shadow: 3px 3px 3px 0px #333;
  font-family: "Times New Roman";
  .bogo-language-switcher {
    &, & a { color: $imaasa-blue; }
    font-family: "Lucia Sans Unicode";
    font-weight: bold;
    font-style: italic;
    position: absolute;
    right: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    top: 10px;
  }
}
