@mixin button() {
  box-shadow: 2px 2px 3px #000;
  border: $default-color solid 2px;
  line-height: 2em;
  text-align: center;
  height: auto;
  width: auto;
}

.button-default {
  @include button;
  background: #fff;
}

.button-active {
  @include button;
  background: $default-color;
  color: #fff;
}

.pagenation {
  .item {
    @extend .button-default;
    height: 2em;
    margin: auto 5px;
    width: 2em;
  }
  .active {
    @extend .button-active;
    & > a {
      color: #fff;
    }
  }
}
