/* Border Colors */
$bd-primary: #2e6da4;
$bd-success: #4cae4c;
$bd-info: #46b8da;
$bd-warning: #eea236;
$bd-danger: #d43f3a;

/* Background Colors */
$bg-primary: #337ab7;
$bg-success: #5cb85c;
$bg-info: #5bc0de;
$bg-warning: #f0ad4e;
$bg-danger: #d9534f;

/* Theme Colors */
$default-bgcolor: #ebe1da; // Default background color
$default-color: #462300; // Default text width
$imaasa-blue: #01385b; // Image color of Imaasa
$imaasa-violet: #4d3339; // Use in header and footer
$imaasa-orange: #daa520; // Use in border of header or footer
$imaasa-soil: #a38a5f; // Use in border of sub
$imaasa-brown: #8c873e; // Use in background of contact
$imaasa-gray: #959595; // Use in copyright
$imaasa-wood: #cea972; // Use in phone contact corner
$imaasa-darkwood: #5b4635; // Use in submit button
