@mixin default-font {
  font-family: "MS mincho", serif;
}

// フォント系コンポーネント
@mixin gothic {
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

@mixin mincho {
  font-family: 'Hiragino Mincho ProN', serif;
}
